.actor-border-box {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto;
	grid-column: 1 / -1;
	border: solid;
	border-color: #755970;
	border-radius: 25px;
	color: #3b5e62;
	background-color: #d8dde3;
}

.actor-image-container {
	display: grid;
	grid-column: 3 / -1;
	justify-content: end;
}

.actor-image-container img {
	display: flex;
	border-top-right-radius: 21px;
	border-bottom-left-radius: 5px;
}
